body,header, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.header-bg {
    background: #0d2f81;
}
.header {
    display: flex;
    margin: 0 auto;
    max-width: 1229px;
    flex-wrap: wrap;
}
.logos {
    width: 162px;
    display: flex;
    justify-content: space-between;
}
.logo {
    max-width: 36px;
}
.logo-2 {
    max-width: 118px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1037px;
    height: 90px;
    margin-left: 30px;
    flex-wrap: wrap;
}
.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.menu a:hover {
    text-decoration: underline;
}
.seletor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 342.250px;
    height: 46px;
}
.acesso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 227.750px;
    height: 46px;
}
.concentre-se-bg{
    background: #0d2f81;
}
.concentre-se {
    margin: 0 auto;
    max-width: 1229px;
    flex-direction: column;
    padding: 35px 0px 0px 0px;
    flex-wrap: wrap;
}
.h {
    display: flex;
    flex-direction: column;
    color: #ffe7aa;
    flex-wrap: wrap;
}
.h h3 {
    margin-bottom: 20px;
    font-size: 25px;
    padding: 0px 0px 0px 55px;
}
.h h1 {
    font-size: 71px;
    line-height: 79px;
    width: 674.500px;
    height: 316px;
    padding: 0px 0px 50px 55px;
    flex-wrap: wrap;
    display: flex;
}
.p {
    display: flex;
    color: #fff;
}
.p p {
    width: 500px;
    height: 130px;
    padding: 0px 0px 25px 55px;
}
.img1 {
    padding: 0px 0px 0px 55px;
    margin: 0px 0px 16px 0px;
}
.macante-bg {
    background: #ffe7aa;
}
.macante {
    margin: 0 auto;
    max-width: 1229px;
    display: flex;
}
.div-img {
    display: flex;
}
.div-img img {
    max-width: 675px;
    padding: 0px 0px 170px 55px;
    margin: -24px 0px 0px 0px;
}
.div-texto {
    display: flex;
    flex-wrap: wrap;
    margin: 278px 60px 0px 115px;
}
.div-texto h3 {
    display: flex;
    margin-bottom: 20px;
    color: #0d2f81;
    font-size: 32px;
    line-height: 38px;
    flex-wrap: wrap;
    justify-content: center;
}
.div-texto p {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 26px;
    padding: 0px 0px 375px 0px;
}










@media (max-width: 1024px) {
    .header { justify-content: center; flex-wrap: nowrap; padding: 0px 40px 0px 40px;}
    .concentre-se img { max-width: 512px; }
    .div-img { max-width: 512px; }
    .div-img img { max-width: 512px; }
}
@media (max-width: 768px) {
    .header { flex-wrap: wrap; padding: 20px 0px 0px 0px;}
    .menu { margin: 0px 0px 0px 0px; justify-content: center;}
    .macante { flex-direction: column; max-height: 1000px; }
    .div-texto { max-width: 500px; margin: 60px 0px 60px 60px; }
    .div-texto p { padding: 0px 0px 0px 0px;}
    .div-img img { padding: 0px 0px 0px 55px; margin: -24px 0px 0px 0px;}
}
@media (max-width: 767px) {
    .header { flex-wrap: wrap; padding: 20px 0px 0px 0px; }
    .menu { margin: 0px 0px 0px 0px; justify-content: center; }
    .h { max-height: 450px; }
    .h h1 { max-height: 250px; max-width: 340px; padding: 0px 0px 0px 55px; font-size: 40px; line-height: 46px; }
    .h h3 { margin-bottom: 20px; font-size: 25px; }
    .p { max-width: 350px; }
    .p p { max-width: 350px; }
    .macante { flex-direction: column; }
    .concentre-se img { max-width: 295px; }
    .div-img { max-width: 295px; }
    .div-img img { max-width: 295px; padding: 0px 0px 0px 55px; margin: -24px 0px 0px 0px;}
    .div-texto { margin: 60px 60px 60px 55px; }
    .div-texto p { padding: 0px 0px 0px 0px;}
}